<a href="https://colab.research.google.com/github/oln8-bot/BTE-320---Olivia-Nero/blob/main/In_Class_Assignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Income Statement Assignment

In [ ]:
#Inputs: sales and cogs_pct and tax rate
sales = input("Enter sales ($):")
sales = float(sales)

cogs_pct = input("Enter cost of Goods sold (%) : ")
cogs_pct = float(cogs_pct)

tax_rate = input("Enter tax rate (%) : ")
tax_rate = float(tax_rate)

#Processes: calculate actual cost of goods sold and gross profit and taxes and net income
cogs = sales * cogs_pct / 100
gross_profit = sales - cogs
taxes = gross_profit * tax_rate /100
net_income = gross_profit - taxes

#Outputs: display cogs and gross_profit
print(f"Cost of Goods sold: ${cogs}")
print(f"Gross Profit: ${gross_profit}")
print(f"Taxes: ${taxes}")
print(f"Net Income: ${net_income}")

Enter sales ($):12000
Enter cost of Goods sold (%) : 40
Enter tax rate (%) : 30
Cost of Goods sold: $4800.0
Gross Profit: $7200.0
Taxes: $2160.0
Net Income: $5040.0

In [ ]:
sales = int(input("Enter sales ($): "))

Enter sales ($): 12000

In [ ]:
print(sales)

12000

In [ ]:
cost_of_goods_sold = .4 * sales
print(cost_of_goods_sold)

4800.0

In [ ]:
profit = sales - cost_of_goods_sold
print(profit)

7200.0

Inventory Management Assignment

In [ ]:
#Inputs: Annual demand, Reorder cost, and holding cost
annual_demand = input("Enter Annual Demand (units/year) : ")
annual_demand = float(annual_demand)

reorder_cost = input("Enter Reorder Cost ($/unit) : ")
reorder_cost = float(reorder_cost)

holding_cost = input("Enter Holding Cost ($/unit/year) : ")
holding_cost = float(holding_cost)

#Processes: caclulate EOQ
EOQ = ((2 * annual_demand * reorder_cost) / (holding_cost)) ** 0.5


#Outputs: display EOQ
print(f"Economic Order Quanity: {int(EOQ)} units")

Enter Annual Demand (units/year) : 100
Enter Reorder Cost ($/unit) : 1.5
Enter Holding Cost ($/unit/year) : 3
Economic Order Quanity: 10 units

Design a simple numerical calculator

In [ ]:
#Inputs: Numbers and operators
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second numner: "))
operator = input("Enter an operator (+, -, *, /, %, **, //): ")

#Processes:
if operator == "+":
  result = num1 + num2
elif operator == "-":
  result = num1 - num2
elif operator == "*":
  result = num1 * num2
elif operator == "/":
  result = num1 / num2
elif operator == "%":
  result = num1 % num2
elif operator == "**":
  result = num1 ** num2
elif operator == "//":
  result = num1 // num2
else:
  print("Invalid operator")

#Outputs:
print(f"result: {result}")

Enter first number: 5
Enter second numner: 2
Enter an operator (+, -, *, /, %, **, //): *
result: 10.0

Parking garage

In [2]:
print("# of hours\tFee ($)")
print("--------------------")
for hours in range(1, 9):
   fee = 5 + hours * 2.5
   if fee < 10:
    fee = 10.0
    print(f"{hours}\t\t{fee}")
   elif fee > 20:
    fee = 20.0
    print(f"{hours}\t\t{fee}")
   else:
    print(f"{hours}\t\t{fee}")

# of hours	Fee ($)
--------------------
1		10.0
2		10.0
3		12.5
4		15.0
5		17.5
6		20.0
7		20.0
8		20.0

Movie theater

In [3]:
for ad in range(0, 201, 25):
  revenue = 10 * (20 + 2 * ad ** 0.5) - 200 - ad
  print(ad, round(revenue, 1))

0 0.0
25 75.0
50 91.4
75 98.2
100 100.0
125 98.6
150 94.9
175 89.6
200 82.8